{% extends 'logins/base_loggedin_back.html' %}

{% block content %}

<div class="container-fluid">

<div class="row user_account">

  <!-- modals -->
  <!-- correct modal -->
  <div class="modal fade" id="correctModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header correct" id="correct-modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Correct</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Points earned:</p>
          <h3>250</h3><br>
          <p>Trash item collected:</p>
          <h3>*image*</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="margin: auto;">Continue</button>
        </div>
      </div>
    </div>
  </div>

  <!-- incorrect modal -->
  <div class="modal fade" id="incorrectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header incorrect">
          <h5 class="modal-title" id="exampleModalLabel">Incorrect</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Wrong answers. Better luck next time!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" style="margin: auto;">Continue</button>
        </div>
      </div>
    </div>
  </div>

    <!-- buffer col -->
    <div class="col-sm-3 col-md-4 col-lg-4"></div>

        <!-- content column -->
        <div class="col-sm-6 col-md-4 col-lg-4 form">
            
            <div id="quiz_questions_container"><br>
                <h2>Questions</h2>
                <div class="question">
                    <h5>This will be where the first question goes?</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Wrong Answer 1
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Correct Answer
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Wrong Answer 2
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Wrong Answer 3
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Wrong Answer 4
                        </label>
                      </div>
                </div>

                <div class="question">
                    <h5>This will be where the second question goes?</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Wrong Answer 1
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Wrong Answer 2
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Wrong Answer 3
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Correct Answer
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Wrong Answer 4
                        </label>
                      </div>
                </div>

                <div class="question">
                    <h5>This will be where the third question goes?</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Answer 1
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Answer 2
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Answer 3
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Answer 4
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                          Correct Answer
                        </label>
                      </div>
                </div><br><br>
                
                <button type="submit" value="submit" class="btn btn-primary">Submit answers</button>
            </div><br>
            <button type="submit" value="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#correctModal">Correct modal</button>
            <button type="submit" value="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#incorrectModal">Incorrect modal</button>
        </div>

    <!-- buffer col -->
    <div class="col-sm-3 col-md-4 col-lg-4"></div>
</div>

</div>


    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
   
</body>
</html>

{% endblock %}